body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgb(123, 177, 221);
    
}
#pie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 5%;
    height: 80px;
    background-color: #3F8FCF;
    box-shadow: 0px 0px 5px 2px #3F8FCF;
    color: rgb(100, 41, 85);
    font-size:calc(12px + 0.3vw);
    border-radius:22px;
}

#logo{
    width: 95px;
}

h1{
    padding-left: 2%;
}